<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WebSite Nhóm 5  - Admin</title>
    <link rel="stylesheet" href="../assets/css/style.css" />
    <link
      rel="stylesheet"
      href="../assets/css/fontawesome-free-5.15.4-web/css/all.css"
    />
  </head>

  <body>
    <div class="container">
      <div class="d-flex h-100">
        <div class="col-2 left-menu">
          <nav class="nav-menu">
            <div class="menu-header">
              <a href="">
                <i class="fas fa-store"></i>
                <span class="text-uppercase">WebSite Name</span>
              </a>
            </div>

            <div class="menu-function">
              <h4>Function</h4>
              <ul class="menu-selection">
                <!-- <li>
                  <a href=""><i class="fa fa-home"></i>Trang chủ</a>
                </li> -->
                <li class="focus">
                  <a href="../products-management"
                    ><i class="fa fa-cubes"></i>Products management</a
                  >
                </li>
                <li>
                  <a href="../category-management"
                    ><i class="fas fa-clipboard-list"></i>Categories Management</a
                  >
                </li>

                <li>
                  <a href="../oders-management"><i class="fas fa-boxes"></i>Orders management</a>
                  <ul class="sub-menu">
                    <li><a href="../oders-management"><i class="fas fa-clipboard-check"></i>Orders waiting for confirmation</a></li>
                    <li><a href="../oders-management/list.html"><i class="fas fa-clipboard-list"></i>Table Orders</a></li>
                  </ul>
                </li>

                <li>
                  <a href=""><i class="fa fa-user"></i>Users management</a>
                </li>

                <li>
                  <a href=""><i class="fas fa-users-cog"></i></i>Producers management</a>
                </li>

                <li>
                  <a href=""><i class="fas fa-user-shield"></i>Admin management</a>
                </li>

                <li>
                  <a href=""><i class="fa fa-user"></i>Roles management</a>
                </li>
              </ul>
            </div>

            <!-- <div class="menu-footer"><span>Logout </span><i class="fas fa-power-off"></i></div> -->
          </nav>
        </div>
        <div class="col-10 right-content">
          <div class="menu-header d-flex align-items-center">
            <div class="col-10"><span>List of Product</span></div>
            <a href="1" class="col-2 align-items-center">
              <img
                width="20"
                src="../assets/img/no-image.png"
                alt="avt"
              /><span>Admin</span>
              <a class="logout" href="2"><i class="fas fa-power-off"></i></a>
            </a>
          </div>

          <div class="menu-content">
            <div class="search-container">
              <form action="" class="d-flex form-search">
                <input
                  type="text"
                  class="input-form"
                  placeholder="Product name..."
                />
                <input
                  type="text"
                  class="input-form"
                  placeholder="Product type..."
                />
                <button class="btn btn-blue btn-search">Search</button>
                <a href="create.html" class="btn btn-green btn-create"
                  >Create new</a
                >
              </form>
            </div>

            <div class="content-container d-flex">
              <table>
                <tbody>
                  <tr>
                    <th class="item-id">id</th>
                    <th class="item-image">image</th>
                    <th class="item-name">Name</th>
                    <th class="item-category">Category</th>
                    <th class="item-price">Price</th>
                    <th class="action">Action</th>
                  </tr>

                  <tr>
                    <td class="item-id">1</td>
                    <td class="item-image">
                      <img src="../assets/img/no-image.png" alt="" />
                    </td>
                    <td class="item-name">Sản phẩm 1</td>
                    <td class="item-category">Danh mục 1</td>
                    <td class="item-price">1,000,000</td>
                    <td class="action">
                      <a href="#"
                        ><button class="btn btn-edit">
                          <i class="fas fa-edit"></i></button
                      ></a>
                      <a href=""
                        ><button class="btn btn-delete">
                          <i class="fas fa-trash"></i></button
                      ></a>
                    </td>
                  </tr>

                  <tr>
                    <td class="item-id">1</td>
                    <td class="item-image">
                      <img src="../assets/img/no-image.png" alt="" />
                    </td>
                    <td class="item-name">Sản phẩm 1</td>
                    <td class="item-category">Danh mục 1</td>
                    <td class="item-price">1,000,000</td>
                    
                    <td class="action">
                      <a href="#"
                        ><button class="btn btn-edit">
                          <i class="fas fa-edit"></i></button
                      ></a>
                      <a href=""
                        ><button class="btn btn-delete">
                          <i class="fas fa-trash"></i></button
                      ></a>
                    </td>
                  </tr>

                  <tr>
                    <td class="item-id">1</td>
                    <td class="item-image">
                      <img src="../assets/img/no-image.png" alt="" />
                    </td>
                    <td class="item-name">Sản phẩm 1</td>
                    <td class="item-category">Danh mục 1</td>
                    <td class="item-price">1,000,000</td>
                    
                    <td class="action">
                      <a href="#"
                        ><button class="btn btn-edit">
                          <i class="fas fa-edit"></i></button
                      ></a>
                      <a href=""
                        ><button class="btn btn-delete">
                          <i class="fas fa-trash"></i></button
                      ></a>
                    </td>
                  </tr>

                  <tr>
                    <td class="item-id">1</td>
                    <td class="item-image">
                      <img src="../assets/img/no-image.png" alt="" />
                    </td>
                    <td class="item-name">Sản phẩm 1</td>
                    <td class="item-category">Danh mục 1</td>
                    <td class="item-price">1,000,000</td>
                    
                    <td class="action">
                      <a href="#"
                        ><button class="btn btn-edit">
                          <i class="fas fa-edit"></i></button
                      ></a>
                      <a href=""
                        ><button class="btn btn-delete">
                          <i class="fas fa-trash"></i></button
                      ></a>
                    </td>
                  </tr>
                  
                  <tr>
                    <td class="item-id">1</td>
                    <td class="item-image">
                      <img src="../assets/img/no-image.png" alt="" />
                    </td>
                    <td class="item-name">Sản phẩm 1</td>
                    <td class="item-category">Danh mục 1</td>
                    <td class="item-price">1,000,000</td>
                    
                    <td class="action">
                      <a href="#"
                        ><button class="btn btn-edit">
                          <i class="fas fa-edit"></i></button
                      ></a>
                      <a href=""
                        ><button class="btn btn-delete">
                          <i class="fas fa-trash"></i></button
                      ></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div>
              <ul class="paginate">
                <li>
                  <a href=""
                    ><span class="previous-page"><i class="fas fa-chevron-left"></i></span
                  ></a>
                </li>
                <li>
                  <a href=""><span class="page-number choose">1</span></a>
                </li>
                <li>
                  <a href=""><span class="page-number">2</span></a>
                </li>
                <li>
                  <a href=""><span class="page-number">...</span></a>
                </li>
                <li>
                  <a href=""><span class="page-number">9</span></a>
                </li>
                <li>
                  <a href=""
                    ><span class="next-page"><i class="fas fa-chevron-right"></i></span
                  ></a>
                </li>
              </ul>
            </div>
          </div>

          <div class="menu-footer d-flex"><i class="fas fa-heart"><span>Đề Tài Web - Thương Mại Điện Tử - Nhóm 5 - Phần Quản Trị</span></i></div>
        </div>
      </div>
    </div>
  </body>
</html>
