body {
  margin: 0;
}

.content{
  padding: 10px 30px;
}

.col-1 {
  width: 8.333%;
}

.col-2 {
  width: 16.667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.333%;
}

.col-5 {
  width: 41.667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.333%;
}

.col-8 {
  width: 66.667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.333%;
}

.col-11 {
  width: 91.667%;
}

.col-12 {
  width: 100%;
}

.row {
  display: flex;
}

.d-flex {
  display: flex;
}

.header-menu {
  height: 40px;
  justify-content: right;
  align-items: center;
  background: black;
  color: white;
  padding: 5px 0;
}

.block-logo {
  padding: 0 13px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.block-logo > img {
  width: 40px;
  height: 40px;
}

.form-search > input {
  border-radius: 5px;
  border: none;
  padding: 5px;
  width: 80%;
  height: 25px;
}

.block-phone > a {
  font-style: normal;
  color: white;
  text-decoration: none;
}

.block-cart {
  text-align: center;
  position: relative;
}

.block-cart > button {
  background: none;
  color: white;
  border: none;
}

.block-cart > button > i {
  font-size: 20px;
}

.block-detail {
  margin: 15px 0;
  text-align: left;
}

.cart-detail {
  border-radius: 15px;
  display: none;
  background: white;
  min-height: 100px;
  position: absolute;
  color: black;
  min-width: -webkit-fill-available;
  right: 95px;
  top: 35px;
  padding: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.block-image {
  position: relative;
}

.block-image > img {
  position: absolute;
  right: 15px;
  height: 100%;
  z-index: 2;
}

.block-image > i {
  right: 0;
  position: absolute;
}

.btn {
  cursor: pointer;
  border-radius: 5px;
  padding: 5px;
  border-radius: 1px solid;
}

.btn-primary {
  background: blue;
  color: white;
  border: 1px solid blue;
}

.btn-primary:hover {
  background: white;
  color: blue;
  border: 1px solid blue;
}

.btn-success {
  background: green;
  color: white;
  border: 1px solid green;
}

.btn-success:hover {
  background: white;
  color: green;
  border: 1px solid green;
}

.btn-secondary{
  background: gainsboro;
  color: black;
  border: 1px solid gainsboro;
}

.btn-secondary:hover{
  background: black;
  color: gainsboro;
  border: 1px solid gainsboro;
}

.label-total {
  color: black;
  font-size: 20px;
  font-weight: 700;
  font-style: italic;
}

.menu-item {
  align-items: center;
  justify-content: center;
  height: 100%;
  display: flex;
  width: 150px;
}

.menu-item > a {
  color: white;
  text-decoration: none;
}

.menu-item > img {
  width: 40px;
}

.menu-item:hover,
.menu-item:hover > a {
  cursor: pointer;
  color: black;
  background: white;
  text-decoration: none;
}

.list-product {
  padding: 10px;
}

.product {
  cursor: pointer;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 30px;
  margin: 10px;
  text-align: center;
  border-radius: 15px;
}

.product-image {
  width: 200px;
  height: 250px;
}
.product-image > img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.product-name {
  color: blue;
}

.product-type {
  font-size: 15px;
  font-style: italic;
}



.title {
  font-size: 35px;
  margin-left: 5px;
  font-weight: 700;
}

.product-price {
  font-size: 25px;
}

.product-sale {
  color: red;
  font-style: italic;
  font-size: 25px;
}

.block-price {
  align-items: center;
}

.block-price > div {
  margin: 5px;
}

.product-price.sale {
  text-decoration: line-through;
  font-size: 20px;
}

.product-action>div{
  padding: 5px;
}

.product-action > div > button {
  width: 100%;
}

.info {
  text-align: right;
}

.social-network {
  justify-content: right;
}

.avatar {
  width: 100%;
  display: flex;
  justify-content: left;
}

.avatar > img {
  height: 500px;
}

.block-form-sign-in {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.form-sign-in {
  width: 300px;
  background: #b7e3e3;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.form-sign-in>.title{
  text-align: center;
}

.form-control {
  height: 24px;
  margin: 3px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid;
  padding: 5px;
}

.form-group {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.form-checkbox{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.btn-form-sign-in>.btn {
  height: 35px;
  width: 48%;
  margin: 5px;
}


.paginate {
  display: flex;
  justify-content: end;
  list-style-type: none;
  align-items: center;
  margin: 0;
  height: 10%;
}

.paginate > li > a > span,
.paginate > li > a > span > i {
  color: black;
}

.next-page > i,
.previous-page > i,
.page-number {
  padding: 0 5px;
}

.choose {
  border-radius: 50%;
  background: black;
  color: white !important;
}

.valid-text{
  color:red;
  text-align: left;
  display: none;
}


.error {
  padding: 3px;
  margin-top: 10px;
  border-radius: 10px;
  background-color: rgba(255, 0, 0, 0.616);
}

.error > div > ul > li {
  color: white;
}

.alert-success {
  padding: 3px;
  margin-top: 10px;
  border-radius: 10px;
  background-color: green;
}

.alert-success > div > ul > li {
  color: white;
  list-style: none;
}
.form-sign-up{
width: 500px;
}