* {
  font-family: "Roboto";
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}

body {
  height: 100vh;
  margin: 0;
}

/* h1,h2,h3,h4,h5,h6,a>span{
  color:white;
} */

a {
  text-decoration: none;
  cursor: pointer;
  color: white;
}

/* i{
color: white;
} */

input:focus::placeholder {
  color: transparent;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.container {
  width: 100%;
  padding: 0;
  max-width: 100%;
  height: 100%;
}
.d-flex {
  display: flex;
}

.col-1 {
  width: 8.333%;
}

.col-2 {
  width: 16.667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.333%;
}

.col-5 {
  width: 41, 667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.333%;
}

.col-8 {
  width: 66.667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.333%;
}

.col-11 {
  width: 91.667%;
}

.col-12 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.left-menu {
  overflow: auto;
  padding: 0px;
  height: 100%;
  background: #0f0b0b;
}

.display-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.nav-menu {
  position: relative;
  height: 100%;
  padding: 20px 0;
}

.menu-header {
  width: 100%;
  height: 40px;
  top: 0;
}

.left-menu > .nav-menu > .menu-header > a * {
  font-size: 20px;
  font-weight: 900;
  color: white;
}

.left-menu > .nav-menu > .menu-header > a > i {
  border: 3px solid #eaeaea;
  padding: 6px;
  border-radius: 50%;
}

.menu-function {
  list-style-type: none;
}

.menu-function > h4 {
  color: white;
}

.menu-selection {
  padding: 0;
}

.menu-function > .menu-selection > li,
.sub-menu > li {
  display: grid;
  align-items: center;
}

.menu-function > .menu-selection > li > a,
.sub-menu > li > a {
  width: 100%;
  padding: 10px;
}

.menu-function > .menu-selection > li > a:hover,
.menu-function > .menu-selection > li > a:hover > i,
.sub-menu > li > a:hover,
.sub-menu > li > a:hover > i {
  background: white;
  color: #0f0b0b !important;
  border-radius: 50px 0 0 50px;
}

.focus > a,
.focus > a > i {
  background: white;
  color: #0f0b0b;
  border-radius: 50px 0 0 50px;
}

.focus > a > i {
  color: #000000 !important;
}

.sub-menu > .focus > a,
.sub-menu > .focus > a > i {
  background: #0f0b0b;
  color: white !important;
  text-decoration: underline;
}

.menu-function > .menu-selection > li > a > i {
  margin-right: 5px;
  color: white;
}

.menu-footer {
  position: absolute;
  bottom: 0;
}

.right-content {
  background: white;
  height: 100vh;
  position: relative;
}

.right-content > .menu-header {
  padding: 0 10px;
  height: 10%;
  background: #0f0b0b;
}

.right-content > .menu-header > .col-10 > span {
  font-weight: 600;
  font-size: 20px;
  color: white;
}

.right-content > .menu-header > .col-2 > img {
  width: 25px;
  height: 25px;
}

.right-content > .menu-content {
  padding: 0 10px;
  height: 80%;
  overflow: auto;
}

.right-content > .menu-footer {
  padding: 0 10px;
  height: 10%;
  width: 100%;
}

.right-content > .menu-header > .col-2 {
  display: inherit;
  justify-content: flex-end;
}

.logout {
  margin-left: 5px;
}

.logout > i {
  color: white;
}

.logout:hover > i {
  border-radius: 20%;
  background: white;
  color: black;
}

.search-container {
  padding: 10px 0;
}

.form-search {
  position: relative;
}

.form-search > input,
.form-search > select {
  border-radius: 5px;
  padding: 7px;
  margin-right: 10px;
  border: 1px solid black;
}
.form-search > button,
.form-search > a {
  padding: 7px;
  width: 200px;
}

.form-search > .btn-create {
  position: absolute;
  right: 0;
  text-align: center;
}

.btn {
  border: none;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
  margin: 2px;
}

.btn-green {
  border: 1px solid white;
  color: white;
  background: rgba(20, 156, 8, 0.945);
}

.btn-green:hover {
  background: white;
  border: 1px solid rgba(20, 156, 8, 0.945);
  color: rgba(20, 156, 8, 0.945);
}
.btn-blue {
  border: 1px solid white;
  color: white;
  background: blue;
  font-weight: 500;
}

.btn-blue:hover {
  background: white;
  border: 1px solid blue;
  color: blue;
}

.content-container {
  height: 80%;
  overflow: auto;
}

.content-container > table {
  border-collapse: collapse;
  width: 100%;
  height: max-content;
}

.content-container > table > tbody > tr > th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #000000;
  color: white;
  text-align: center;
}

.content-container > table td,
.content-container > table th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}
th.item-id,
th.item-image {
  width: 50px;
}
th.item-type,
th.item-price {
  width: 200px;
}
.content-container > table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.content-container > table tr:hover {
  background-color: #ddd;
}

.content-container > table > tbody > tr:first-child > th:nth-child(6),
.content-container > table > tbody > tr:first-child > th:last-child {
  width: 100px;
}
.btn-delete {
  background: none;
}
.btn-delete > i {
  color: red;
}

.btn-edit {
  background: none;
}
.btn-edit > i {
  color: rgba(250, 152, 25, 0.89);
}
.btn-edit:hover,
.btn-edit:hover > i {
  background: rgba(250, 152, 25, 0.89);
  color: #ddd;
}
.btn-delete:hover,
.btn-delete:hover > i {
  background: red;
  color: #ddd;
}

.item-image > img {
  width: 40px;
}

.paginate {
  display: flex;
  justify-content: end;
  list-style-type: none;
  align-items: center;
  margin: 0;
  height: 10%;
}

.paginate > li > a > span,
.paginate > li > a > span > i {
  color: black;
}

.next-page > i,
.previous-page > i,
.page-number {
  padding: 0 5px;
}

.choose {
  border-radius: 50%;
  background: black;
  color: white !important;
}

.right-content > .menu-footer {
  align-items: flex-end;
  justify-content: flex-end;
}
.right-content > .menu-footer > i {
  color: red;
}
.right-content > .menu-footer > i > span {
  font-family: "Roboto";
  font-weight: 400;
}

#input-image {
  z-index: -1;
  position: absolute;
  opacity: 0;
}

.form-control {
  margin-top: 15px;
  align-items: baseline;
}

.input-form {
  height: 40px;
  border-radius: 5px;
  border: 1px solid black;
  padding: 5px;
}

.form-label-file {
  color: blue;
  cursor: pointer;
}

.form-text {
  padding: 5px;
}

.form-right-content,
.form-left-content {
  padding: 10px;
}

.preview-image {
  width: 50%;
}

.btn-close,
.btn-save {
  padding: 10px;
  width: 50%;
}

.btn-close {
  margin-right: 20px;
  color: white;
  border: 1px solid gray;
  background: gray;
}

.btn-close:hover {
  color: gray;
  background: white;
  border: 1px solid gray;
}

.form-button {
  display: flex;
  justify-content: flex-end;
}

.item-status {
  width: 200px;
}

.item-status > span {
  padding: 3px;
  font-weight: 600;
  border-radius: 5px;
}

.item-status > .general {
  background: orange;
  color: white;
}

.item-status > .success {
  background: rgb(12, 202, 12);
  color: white;
}

.item-status > .danger {
  background: red;
  color: white;
}

/* .success,
.success>i {
  color: green;
}

.general,
.general>i {
  color: white;
}

.deny,
.deny>i {
  color: red;
} */

.item-status > span > i {
  color: white;
}

.block-order {
  margin-top: 10px;
  border: 3px solid black;
  border-radius: 5px;
  padding: 10px;
}

.order-name {
  font-weight: 600;
  font-size: 20px;
}
.order-products > div {
  font-weight: 700;
}

.order-information > div > .col-9,
.order-product-quantity,
.order-product-sale,
.order-product-unit-price,
.order-total-product-price {
  text-align: end;
}

.order-total {
  border-top: 1px solid black;
  font-weight: 600;
  font-style: italic;
}

.order-action {
  display: flex;
  justify-content: end;
}

.btn-red {
  background: red;
  border: 1px solid red;
  color: white;
}

.btn-red:hover {
  background: white;
  border: 1px solid red;
  color: red;
}

.btn-orange {
  background: orange;
  border: 1px solid orange;
  color: white;
}

.btn-orange:hover {
  background: white;
  border: 1px solid orange;
  color: orange;
}

.order-action > .btn {
  padding: 5px 10px;
}

.sub-menu {
  display: none;
}

.focus > .sub-menu {
  display: block;
}

.menu-function > .menu-selection > li > a:hover + .sub-menu {
  display: block;
}

.sub-menu > li > a > i {
  margin-right: 2px;
  color: white;
}

.block-login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.block-login > form > h1 {
  text-align: center;
  font-size: 40px;
}

.block-password {
  position: relative;
}

.password-show,
.password-hide {
  position: absolute;
  right: 10px;
  top: 10px;
}

.password-show {
  display: none;
}

.user-info > span {
  color: white;
}
.error {
  padding: 3px;
  margin-top: 10px;
  border-radius: 10px;
  background-color: rgba(255, 0, 0, 0.616);
}

.error > div > ul > li {
  color: white;
}

.alert-success {
  padding: 3px;
  margin-top: 10px;
  border-radius: 10px;
  background-color: green;
}

.alert-success > div > ul > li {
  color: white;
  list-style: none;
}

/* The Modal (background) */
.modal-confirm {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d29;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  max-width: 500px;
}

.clearfix > .btn-red {
  width: 50%;
}

.btn-create {
  width: 200px;
  height: 40px;
}

.close-alert {
  display: flex;
  padding: 20px;
  justify-content: end;
}

.close-alert > i {
  color: white;
  cursor: pointer;
}
